.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    height: 50px;
  }
  
  .header-dropdown {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .header-dropdown .anticon {
    margin-left: 8px;
  }